<!-- Describe task in general -->

<p style="text-align: justify;">
    Вам задано невпорядкований {% if is_js %}масив{% else %} зі списком{% endif %} завдань. Кожне завдання є рядком, який містить початок та кінець завдання і має вигляд <b>"hh:mm-hh:mm"</b>. Задачі унікальні. Ваша функція повинна повернути хронологічно відсортований, відфільтрований {% if is_js %}масив{% else %}список{% endif %} завдань, які можна запланувати без перекриття. Для цього вам також надається <b>mode</b> у вигляді {% if is_js %}число{% else %}ціле{% endif %}, яке вказує вам на правило вибору завдань, що не перетинаються.
</p>
<p>
    Режими:
    <ul>
        <li><b>1</b>: найраніший старт серед доступних, (якщо варіантів декілька) найкоротша тривалість;</li>
        <li><b>2</b>найраніший старт з доступних, (якщо кілька варіантів) найдовша тривалість;</li>
        <li><b>3</b>найдовша <b>total</b> тривалість обраних завдань, (якщо декілька варіантів) найбільша кількість виконаних завдань, (якщо декілька варіантів) найраніший;</li>
        <li><b>4</b>: більша кількість виконаних завдань, (якщо кілька варіантів) найдовша <b>total</b> тривалість обраних завдань, (якщо кілька варіантів) найраніша.</li>
    </ul>
</p>
<p style="text-align: justify;">
    При анімації завдання завжди сортуються як найраніший початок + найкоротша тривалість. Кожне завдання розміщується в першому "рядку", де воно не перекривається з попереднім завданням в "рядку". Якщо поточне завдання перекриває всі існуючі "рядки" - починається новий "рядок".
    Наприклад, для вхідних даних <b>[['09:00-10:00', '09:50-10:10', '10:00-11:00', '09:00-09:20', '10:50-11:10'], 2]</b> анімація (розв'язок) буде виглядати наступним чином:   
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 150px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Масив{% if is_js %}n рядків{% else %} зі списком{% endif %} завдань у вигляді рядків.
</p>

<p>
   <strong>Вихідні дані:</strong> Відсортований відфільтрований {% if is_js %}масив{% else %}список{% endif %} завдань у вигляді рядків. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
